## K-Means clustering

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

# Select features and copy to avoid warnings
X = df[['age', 'fare']].copy()

# Fix missing values
X['age'] = X['age'].fillna(X['age'].mean())

# Scale features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Clustering
model = KMeans(n_clusters=5, random_state=42)
model.fit(X_scaled)

# Assign cluster labels back to df
df['cluster'] = model.labels_

In [6]:
# saving the model
import joblib
joblib.dump(model, 'KMeansClustering.joblib')

['KMeansClustering.joblib']

In [8]:
# load the saved model
model_loaded = joblib.load('KMeansClustering.joblib')

In [10]:
# lets do Decision Tree Classifier on new dataset

import seaborn as sns
df_1 = sns.load_dataset('tips')
df_1

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [13]:
# lets apply Decision Tree classifier
X = df_1.drop(columns= ['sex'])
y = df_1['sex']

In [14]:
# lets check the head
X.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [15]:
y.head()

0    Female
1      Male
2      Male
3      Male
4    Female
Name: sex, dtype: category
Categories (2, object): ['Male', 'Female']

In [16]:
# lets check the null values
df_1.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [20]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [ ]:
# lets transfer the smoker by LabelEncoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df_1['smoker'])

df_1['smoker'] = le.transform(df_1['smoker'])

In [25]:
# lets transfer the day by LabelEncoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df_1['day'])

df_1['day'] = le.transform(df_1['day'])

In [28]:
# lets transfer the time by LabelEncoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df_1['time'])

df_1['time'] = le.transform(df_1['time'])

In [29]:
# now lets check it
df_1

     total_bill   tip     sex  smoker  day  time  size
0         16.99  1.01  Female       0    2     0     2
1         10.34  1.66    Male       0    2     0     3
2         21.01  3.50    Male       0    2     0     3
3         23.68  3.31    Male       0    2     0     2
4         24.59  3.61  Female       0    2     0     4
..          ...   ...     ...     ...  ...   ...   ...
239       29.03  5.92    Male       0    1     0     3
240       27.18  2.00  Female       1    1     0     2
241       22.67  2.00    Male       1    1     0     2
242       17.82  1.75    Male       0    1     0     2
243       18.78  3.00  Female       0    3     0     2

[244 rows x 7 columns]

In [30]:
X.head()

   total_bill   tip  day    time  size  smoker_Yes  smoker_No
0       16.99  1.01  Sun  Dinner     2       False       True
1       10.34  1.66  Sun  Dinner     3       False       True
2       21.01  3.50  Sun  Dinner     3       False       True
3       23.68  3.31  Sun  Dinner     2       False       True
4       24.59  3.61  Sun  Dinner     4       False       True

In [31]:
y.head()

0    Female
1      Male
2      Male
3      Male
4    Female
Name: sex, dtype: category
Categories (2, object): ['Male', 'Female']

In [17]:
X = pd.get_dummies(X, columns= ['smoker'])

In [32]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model = model.fit(X,y)

ValueError: Cannot cast object dtype to float32