# How to import dataset in python using library 
Written by: Mr. Waseem Akram\
Date: 03.07.2025\
Email: malikwaseem3802@gmail.com\

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_excel("pandas_01_day6.xlsx")

In [8]:
df

    Height  Weight Favourite_Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

# View dataframes in python using pandas

In [9]:
df.head

<bound method NDFrame.head of     Height  Weight Favourite_Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]>

In [10]:
df.tail

<bound method NDFrame.tail of     Height  Weight Favourite_Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]>

In [11]:
df.shape

(87, 3)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          87 non-null     float64
 1   Weight          87 non-null     int64
 2   Favourite_Dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

In [14]:
df.index

RangeIndex(start=0, stop=87, step=1)

In [15]:
df.columns

Index(['Height', 'Weight', 'Favourite_Dish'], dtype='object')

In [19]:
df.describe()

           Height      Weight
count   87.000000   87.000000
mean     7.965977   70.459770
std     18.184737   16.753899
min      1.780000   25.000000
25%      5.200000   60.000000
50%      5.600000   70.000000
75%      5.800000   80.000000
max    167.000000  125.000000

In [20]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,86
Height,5.8,6.2,5.9,5.9,5.9,5.3,5.6,5.9,5.1,5.4,...,5.5,5.11,5.3,5.4,5.5,5.4,5.9,5.4,6.2,5.1
Weight,101,92,62,95,55,59,50,76,78,68,...,85,72,62,55,52,55,75,61,68,96
Favourite_Dish,Chicken Pulao,Biryani,Karahi Ghosht,Chicken Pulao,Chicken Pulao,Biryani,Pasta,Biryani,Biryani,Biryani,...,Biryani,Karahi Ghosht,Biryani,Pasta,Karahi Ghosht,Pasta,Karahi Ghosht,Biryani,Chicken Pulao,Biryani

In [23]:
df.sort_index()

    Height  Weight Favourite_Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

In [25]:
df.sort_index(ascending=False)

    Height  Weight Favourite_Dish
86     5.1      96        Biryani
85     6.2      68  Chicken Pulao
84     5.4      61        Biryani
83     5.9      75  Karahi Ghosht
82     5.4      55          Pasta
..     ...     ...            ...
4      5.9      55  Chicken Pulao
3      5.9      95  Chicken Pulao
2      5.9      62  Karahi Ghosht
1      6.2      92        Biryani
0      5.8     101  Chicken Pulao

[87 rows x 3 columns]

In [26]:
df.sort_values(by="weight")

KeyError: 'weight'