# How to import dataset in python using library 
Written by: Mr. Waseem Akram\
Date: 03.07.2025\
Email: malikwaseem3802@gmail.com\

In [2]:
# Step-1
# importing Libraries
import pandas as pd

In [7]:
# Step-2
# Reading/Importing dataset with name
df = pd.read_excel("pandas_01_day6.xlsx")
print(df)

    Height  Weight Favourite_Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

In [8]:
df.head()

   Height  Weight Favourite_Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

In [9]:
df.tail()

    Height  Weight Favourite_Dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [11]:
df.shape

(87, 3)

In [12]:
df.head(10)

   Height  Weight Favourite_Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
5     5.3      59        Biryani
6     5.6      50          Pasta
7     5.9      76        Biryani
8     5.1      78        Biryani
9     5.4      68        Biryani

In [13]:
df.tail(10)

    Height  Weight Favourite_Dish
77    5.50      85        Biryani
78    5.11      72  Karahi Ghosht
79    5.30      62        Biryani
80    5.40      55          Pasta
81    5.50      52  Karahi Ghosht
82    5.40      55          Pasta
83    5.90      75  Karahi Ghosht
84    5.40      61        Biryani
85    6.20      68  Chicken Pulao
86    5.10      96        Biryani

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          87 non-null     float64
 1   Weight          87 non-null     int64
 2   Favourite_Dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB